<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC35IMGI0VpjJAV-dwKohcU0Q_xuS6f2mE</string>
	<key>GCM_SENDER_ID</key>
	<string>409626487058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaydemir.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-ab14b</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-ab14b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409626487058:ios:71f025e3a8dd553cb66bcb</string>
</dict>
</plist>